@page
@model CA2_Assignment.Pages.Csc._ConfirmPaymentModel

<h1>Subscription Complete</h1>
<div>Congratulations, you are now a premium user.</div>
<form method="post">
    <button type="submit" class="btn btn-info">Okay</button>
</form>